.main-body {
    margin-top: 20px;
    color: rgb(40, 40, 40);
    text-align: left;
    padding: 15px;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
}

.card-body {
    padding: 1.5rem;
}

.avatar {
    border: 4px solid rgb(222, 88, 73);
    margin-bottom: 20px;
}

.main-breadcrumb ol {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    background-color: rgb(255, 255, 255);
}

.breadcrumb-item a {
    color: rgb(40, 40, 40);
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
